.main {
	display: grid;
	place-content: center;
	justify-items: center;
}

.title {
	color: var(--color-primary);
	font-weight: var(--weight-semi-bold);
}

.description {
	max-width: 320px;
	text-align: center;
	color: var(--color-gray);
}

.back {
	padding: 0.75em 1.25em;
	margin-top: 1rem;
	background: var(--color-bg-alt);
	color: var(--color-fg);
	border-radius: 16px;
	text-decoration: none;
	transition: opacity 0.3s ease;
}

.back:hover {
	opacity: 0.75;
}
