.main {
	max-height: 660px;
	display: grid;
	grid-template-areas:
		"players    algorithms algorithms simulation"
		"processes  parameters parameters simulation"
		"processes  chart      chart      simulation";
	grid-template-columns: 360px 1fr 80px 300px;
	grid-template-rows: 80px 172px 1fr;
	gap: 1rem;
}

.algorithmsGridArea,
.processesGridArea,
.parametersGridArea,
.playersGridArea,
.simulationGridArea,
.chartGridArea {
	padding: 1rem;
	background: var(--color-bg-alt);
	color: var(--color-gray);
	border: 2px solid var(--color-dark-gray);
}

.algorithmsGridArea {
	grid-area: algorithms;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.processesGridArea {
	grid-area: processes;
}

.parametersGridArea {
	grid-area: parameters;
}

.playersGridArea {
	grid-area: players;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.simulationGridArea {
	grid-area: simulation;
}

.chartGridArea {
	grid-area: chart;
}

.sectionTitle {
	font-weight: var(--weight-regular);
	font-size: 1rem;
}

/* == ALGORITHMS / SELECT == */

.chevronDown {
	width: 18px;
	height: 18px;
}

.selectTrigger {
	max-width: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	border: none;
	padding: 8px 12px 8px 16px;
	font-size: 1rem;
	line-height: 1;
	gap: 24px;
	background-color: var(--color-bg);
	color: var(--color-gray);
	cursor: pointer;
	transition: color 0.3s ease;
}
.selectTrigger:hover .selectTrigger {
	color: var(--color-primary);
}

.selectTrigger > span:first-of-type {
	text-align: left;
}

.selectContent {
	overflow: hidden;
	background: var(--color-bg);
	border-radius: 6px;
}

.selectViewport {
	padding: 16px;
	border: 2px solid var(--color-dark-gray);
	border-radius: 16px;
}

.selectValue {
	text-align: left;
}

.selectItem {
	padding: 16px 16px;
	font-size: 1rem;
	line-height: 1;
	color: var(--color-gray);
	border-radius: 8px;
	display: flex;
	align-items: center;
	height: 25px;
	position: relative;
	user-select: none;
	cursor: pointer;
}
.selectItem[data-disabled] {
	color: lightgreen;
	pointer-events: none;
}
.selectItem[data-highlighted] {
	outline: none;
	background-color: var(--color-bg-alt);
	color: var(--color-primary);
}

/* == PLAYERS == */

.playersContainer {
	display: flex;
	gap: 1rem;
}

.playersContainer > button {
	padding-left: 5px;
	height: 40px;
	aspect-ratio: 1 / 1;
	display: grid;
	place-content: center;
	background: var(--color-bg);
	color: var(--color-gray);
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: color 0.3s ease;
}

.playersContainer > button:hover {
	color: var(--color-primary);
}

.btnReset > svg,
.btnForward > svg {
	width: 18px;
	height: 18px;
}

.btnFastForward > svg {
	width: 22px;
	height: 22px;
}

.playersContainer .btnReset {
	padding-left: 4px;
}

/* == PROCESSES == */

.processesContainer {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.separator {
	margin: 0.25rem 0;
	border-top: 2px dashed var(--color-dark-gray);
}

.processHeader,
.process {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 20px;
	grid-template-rows: 1fr;
	align-items: center;
	gap: 1rem;
}

.processHeader {
	padding-right: 0.5rem;
	align-items: end;
}

.processes {
	padding-right: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	max-height: 400px;
	overflow-y: auto;
}

.btnDeleteProcess,
.btnAddProcess {
	padding: 0;
	background: transparent;
	color: var(--color-gray);
	display: grid;
	place-content: center;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: color 0.3s ease;
}

.btnDeleteProcess > svg,
.btnAddProcess > svg {
	width: 16px;
	height: 20px;
}

.btnDeleteProcess:hover,
.btnAddProcess:hover {
	color: var(--color-primary);
}

.dialogOverlay {
	position: fixed;
	inset: 0;
	background-color: var(--color-bg);
	opacity: 0.8;
}

.dialogContent {
	padding: 1.5rem;
	width: 88vw;
	max-width: 400px;
	max-height: 85vh;
	position: fixed;
	top: 50%;
	left: 50%;

	background-color: var(--color-bg);
	border-radius: 12px;
	filter: drop-shadow(0 0 0.75rem var(--color-bg-alt));

	transform: translate(-50%, -50%);
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.dialogContent:focus {
	outline: none;
}

.dialogTitle {
	margin: 0;
	color: var(--color-fg);
	font-weight: var(--weight-bold);
	font-size: 1.25rem;
}

.dialogDescription {
	margin: 10px 0 20px;
	color: var(--color-gray);
	font-size: 1rem;
	line-height: 1.5;
}

.iconButton {
	all: unset;
	height: 20px;
	width: 20px;
	position: absolute;
	top: calc(1.5rem + 4px);
	right: 1.5rem;
	display: grid;
	place-content: center;

	color: var(--color-gray);
	border-radius: 100%;
	cursor: pointer;
	transition: color 0.3s ease;
}
.iconButton:hover {
	color: var(--color-primary);
}

.addProcessInputs {
	display: flex;
	gap: 1rem;
}

.fieldset {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 8px;
	border: none;
}

.label {
	width: 100%;
	color: var(--color-gray);
	font-size: 1rem;
	text-align: left;
}

.input {
	padding: 4px 12px 4px 12px;
	width: 100%;
	height: 36px;
	background: var(--color-bg-alt);
	color: var(--color-gray);
	border: none;
	border-radius: 12px;
	font-size: 1rem;
}

.btnDialogAddProcess {
	padding: 4px 12px;
	background: var(--color-primary);
	color: var(--color-bg);
	border: none;
	border-radius: 12px;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.btnDialogAddProcess:hover {
	opacity: 0.75;
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

.deleteDialog {
	padding: 1.5rem;
	width: 88vw;
	max-width: 260px;
	max-height: 85vh;
	position: fixed;
	top: 50%;
	left: 50%;

	background-color: var(--color-bg);
	border-radius: 12px;
	filter: drop-shadow(0 0 0.75rem var(--color-bg-alt));

	transform: translate(-50%, -50%);
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.deleteDialog:focus {
	outline: none;
}

.deleteDialogBtns {
	display: flex;
	gap: 1rem;
}

.deleteDialogBtns > button {
	flex: 1;
}

.btnDialogCancel,
.btnDialogDeleteProcess {
	padding: 8px 12px;
	background: var(--color-bg-alt);
	color: var(--color-gray);
	border: none;
	border-radius: 12px;
	cursor: pointer;
	transition: color 0.3s ease;
}

.btnDialogCancel:hover,
.btnDialogDeleteProcess:hover {
	color: var(--color-primary);
}

/* == PARAMETERS == */

.parametersGridArea {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.memorySize,
.compactionTime,
.coalescingTime {
	display: grid;
	grid-template-columns: 1fr 60px;
	align-items: center;
}

.parametersGridArea input {
	background: var(--color-bg);
	color: var(--color-gray);
	border: none;
	border-radius: 12px;
	height: 34px;
	text-align: center;
}

/* == CHART == */

.processCells {
	margin-top: 0.25rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
	gap: 6px;
	max-height: calc(290px);
	overflow-y: auto;
}

.processCell {
	background: var(--color-bg);
	aspect-ratio: 1 / 1;
	display: grid;
	place-content: center;
	border-radius: 8px;
	border: 2px solid transparent;
}

.coalescingHole {
	color: var(--color-gray);
	border: 2px dashed var(--color-dark-gray);
	text-shadow: 2px 2px 10px var(--color-bg);

	background-color: var(--color-dark-gray);
	background-size: 10px 10px;
	background-image: repeating-linear-gradient(
		315deg,
		var(--color-dark-gray) 0,
		var(--color-dark-gray) 1px,
		var(--color-bg-alt) 0,
		var(--color-bg-alt) 50%
	);
}

.storageCompaction {
	background: transparent;
	color: var(--color-primary);
	border: 2px dashed var(--color-primary);
	opacity: 0.8;
}

/* == SIMULATION == */

.processBlocks {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: calc(100% - (24px + 1rem));
}

.processBlock {
	padding: 0.5rem;
	background: var(--color-primary);
	color: var(--color-bg);
	border-radius: 10px;
	display: grid;
	place-content: center;
}

.storageCompactionBlock {
	background: transparent;
	color: var(--color-primary);
	border: 2px dashed var(--color-primary);
	opacity: 0.8;
}

.coalescingHoleBlock {
	color: var(--color-gray);
	border: 2px dashed var(--color-dark-gray);
	text-shadow: 2px 2px 10px var(--color-bg);

	background-color: var(--color-dark-gray);
	background-size: 10px 10px;
	background-image: repeating-linear-gradient(
		315deg,
		var(--color-dark-gray) 0,
		var(--color-dark-gray) 1px,
		var(--color-bg-alt) 0,
		var(--color-bg-alt) 50%
	);
}

.coalescingHoleBlock > span {
	padding: 0.25rem 0.75rem;
	background: var(--color-bg);
	border-radius: 8px;
	border: 2px dashed var(--color-dark-gray);
}

/* == MEDIA QUERIES == */

@media (max-width: 900px) {
	.main {
		grid-template-areas: none;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.main > section {
		grid-area: auto;
	}
}
