.main {
	min-height: 600px;
	display: grid;
	grid-template-areas:
		"players    algorithms algorithms simulation"
		"processes  parameters parameters simulation"
		"processes  chart      chart      simulation";
	grid-template-columns: 360px 1fr 80px 300px;
	grid-template-rows: 80px 160px 1fr;
	gap: 1rem;
}

.main > section {
	padding: 1rem;
	color: var(--color-gray);
}

.algorithms,
.processes,
.parameters,
.players,
.simulation,
.chart {
	border: 2px dashed var(--color-dark-gray);
	background: var(--color-bg-alt);
}

.algorithms {
	grid-area: algorithms;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.processes {
	grid-area: processes;
}

.parameters {
	grid-area: parameters;
}

.players {
	grid-area: players;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.simulation {
	grid-area: simulation;
}

.chart {
	grid-area: chart;
}

.sectionTitle {
	font-weight: var(--weight-regular);
	font-size: 1rem;
}

/* == ALGORITHMS / SELECT == */

.chevronDown {
	width: 18px;
	height: 18px;
}

.selectTrigger {
	max-width: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	border: none;
	padding: 8px 12px 8px 16px;
	font-size: 1rem;
	line-height: 1;
	gap: 24px;
	background-color: var(--color-bg);
	color: var(--color-gray);
	cursor: pointer;
	transition: color 0.3s ease;
}
.selectTrigger:hover .selectTrigger {
	color: var(--color-primary);
}
.selectTrigger:focus {
	outline: 2px solid var(--color-primary);
}

.selectTrigger > span:first-of-type {
	text-align: left;
}

.selectContent {
	overflow: hidden;
	background: var(--color-bg);
	border-radius: 6px;
}

.selectViewport {
	padding: 16px;
	border: 2px solid var(--color-dark-gray);
	border-radius: 16px;
}

.selectValue {
	text-align: left;
}

.selectItem {
	padding: 16px 16px;
	font-size: 1rem;
	line-height: 1;
	color: var(--color-gray);
	border-radius: 8px;
	display: flex;
	align-items: center;
	height: 25px;
	position: relative;
	user-select: none;
	cursor: pointer;
}
.selectItem[data-disabled] {
	color: lightgreen;
	pointer-events: none;
}
.selectItem[data-highlighted] {
	outline: none;
	background-color: var(--color-bg-alt);
	color: var(--color-primary);
}

/* == PLAYERS == */

.playersContainer {
	display: flex;
	gap: 1rem;
}

.playersContainer > button {
	padding-left: 5px;
	height: 40px;
	aspect-ratio: 1 / 1;
	display: grid;
	place-content: center;
	background: var(--color-bg);
	color: var(--color-gray);
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: color 0.3s ease;
}

.playersContainer > button:hover {
	color: var(--color-primary);
}

.playersContainer > button:focus {
	outline: 2px solid var(--color-primary);
}

.btnForward > svg,
.btnBackward > svg {
	width: 18px;
	height: 18px;
}

.btnFastForward > svg,
.btnFastBackward > svg {
	width: 22px;
	height: 22px;
}

.btnBackward,
.btnFastBackward {
	padding-left: 0;
	padding-right: 5px;
}

.btnBackward > svg,
.btnFastBackward > svg {
	transform: rotate(180deg);
}

/* == MEDIA QUERIES == */

@media (max-width: 900px) {
	.main {
		grid-template-areas: none;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.main > section {
		grid-area: auto;
	}
}
