.main {
	max-height: 660px;
	display: grid;
	grid-template-areas:
		"players    algorithms algorithms simulation"
		"processes  parameters parameters simulation"
		"processes  chart      chart      simulation";
	grid-template-columns: 360px 1fr 80px 300px;
	grid-template-rows: 80px 172px 1fr;
	gap: 1rem;
}

.algorithmsGridArea,
.processesGridArea,
.parametersGridArea,
.playersGridArea,
.simulationGridArea,
.chartGridArea {
	padding: 1rem;
	background: var(--color-bg-alt);
	color: var(--color-gray);
	border: 2px solid var(--color-dark-gray);
}

.algorithmsGridArea {
	grid-area: algorithms;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.processesGridArea {
	grid-area: processes;
}

.parametersGridArea {
	grid-area: parameters;
}

.playersGridArea {
	grid-area: players;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.simulationGridArea {
	grid-area: simulation;
}

.chartGridArea {
	grid-area: chart;
}

.sectionTitle {
	font-weight: var(--weight-regular);
	font-size: 1rem;
}

/* == ALGORITHMS / SELECT == */

.chevronDown {
	width: 18px;
	height: 18px;
}

.selectTrigger {
	max-width: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	border: none;
	padding: 8px 12px 8px 16px;
	font-size: 1rem;
	line-height: 1;
	gap: 24px;
	background-color: var(--color-bg);
	color: var(--color-gray);
	cursor: pointer;
	transition: color 0.3s ease;
}
.selectTrigger:hover .selectTrigger {
	color: var(--color-primary);
}
.selectTrigger:focus {
	outline: 2px solid var(--color-primary);
}

.selectTrigger > span:first-of-type {
	text-align: left;
}

.selectContent {
	overflow: hidden;
	background: var(--color-bg);
	border-radius: 6px;
}

.selectViewport {
	padding: 16px;
	border: 2px solid var(--color-dark-gray);
	border-radius: 16px;
}

.selectValue {
	text-align: left;
}

.selectItem {
	padding: 16px 16px;
	font-size: 1rem;
	line-height: 1;
	color: var(--color-gray);
	border-radius: 8px;
	display: flex;
	align-items: center;
	height: 25px;
	position: relative;
	user-select: none;
	cursor: pointer;
}
.selectItem[data-disabled] {
	color: lightgreen;
	pointer-events: none;
}
.selectItem[data-highlighted] {
	outline: none;
	background-color: var(--color-bg-alt);
	color: var(--color-primary);
}

/* == PLAYERS == */

.playersContainer {
	display: flex;
	gap: 1rem;
}

.playersContainer > button {
	padding-left: 5px;
	height: 40px;
	aspect-ratio: 1 / 1;
	display: grid;
	place-content: center;
	background: var(--color-bg);
	color: var(--color-gray);
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: color 0.3s ease;
}

.playersContainer > button:hover {
	color: var(--color-primary);
}

.playersContainer > button:focus {
	outline: 2px solid var(--color-primary);
}

.btnForward > svg,
.btnBackward > svg {
	width: 18px;
	height: 18px;
}

.btnFastForward > svg,
.btnFastBackward > svg {
	width: 22px;
	height: 22px;
}

.btnBackward,
.btnFastBackward {
	padding-left: 0;
	padding-right: 5px;
}

.btnBackward > svg,
.btnFastBackward > svg {
	transform: rotate(180deg);
}

/* == PROCESSES == */

.processesContainer {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.separator {
	margin: 0.25rem 0;
	border-top: 2px dashed var(--color-dark-gray);
}

.processHeader,
.process {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 20px;
	grid-template-rows: 1fr;
	align-items: center;
	gap: 1rem;
}

.processes {
	padding-right: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	max-height: 400px;
	overflow-y: auto;
}

.btnDeleteProcess {
	padding: 0;
	background: transparent;
	color: var(--color-gray);
	display: grid;
	place-content: center;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: color 0.3s ease;
}

.btnDeleteProcess > svg {
	/* stroke: var(--color-gray); */
	width: 16px;
	height: 20px;
}

.btnDeleteProcess:hover {
	color: var(--color-primary);
}

.btnDeleteProcess:focus {
	outline: 2px solid var(--color-primary);
}

/* == PARAMETERS == */

.parametersGridArea {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.memorySize,
.compactionTime,
.coalescingTime {
	display: grid;
	grid-template-columns: 1fr 60px;
	align-items: center;
}

.parametersGridArea input {
	background: var(--color-bg);
	color: var(--color-gray);
	border: none;
	border-radius: 12px;
	height: 34px;
	text-align: center;
}

.parametersGridArea input:focus {
	outline: 2px solid var(--color-primary);
}

/* == CHART == */

.processCells {
	margin-top: 0.25rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
	gap: 6px;
	max-height: calc(290px);
	overflow-y: auto;
}

.processCell {
	background: var(--color-bg);
	aspect-ratio: 1 / 1;
	display: grid;
	place-content: center;
	border-radius: 8px;
	border: 2px solid transparent;
}

.coalescingHole {
	background: transparent;
	color: var(--color-dark-gray);
	border: 2px dashed var(--color-dark-gray);
}

.storageCompaction {
	background: transparent;
	color: var(--color-primary);
	border: 2px dashed var(--color-primary);
	opacity: 0.5;
}

/* == MEDIA QUERIES == */

@media (max-width: 900px) {
	.main {
		grid-template-areas: none;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.main > section {
		grid-area: auto;
	}
}
