.information {
	margin: 0 auto;
	padding: 1.5rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.title,
.description {
	text-align: center;
}

.title {
	font-weight: var(--weight-semi-bold);
	line-height: 1.2;
}

.description {
	max-width: 500px;
	color: var(--color-gray);
}

@media (max-width: 500px) {
	.information {
		gap: 1rem;
	}
}
