.toast {
	padding: 1rem 1.25rem 1rem 1.5rem;
	position: fixed;
	top: 1.5rem;
	right: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 22px;
	align-items: center;
	gap: 1.5rem;
	background: var(--color-bg-alt);
	border-radius: 16px;
	filter: drop-shadow(0 0 0.75rem var(--color-bg));
}

.content {
	max-width: 300px;
}

.btnDelete {
	height: 22px;
	display: grid;
	place-content: center;
	background: var(--color-dark-gray);
	color: var(--color-bg-alt);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.btnDelete > svg {
	aspect-ratio: 1 / 1;
}

.btnDelete:hover {
	opacity: 0.75;
}
